@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    326 Market St<br />
    Harrisburg, PA 17101<br />
    <abbr title="Email">E:</abbr>
    akiyani@my.harrisburgu.edu
</address>

<address>
    <strong>Support:</strong> <a href="mailto:akiyani@my.harrisburgu.edu">Support@adeelkiyianiwebappv1</a><br />
</address>
