@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
        ViewData["Title"] = "Index";
}

<h2>The Kiyani Web App Project</h2>

<p><strong>This</strong> project is designed to allow users of this application to look up</p>
<p>history of three German Internal Combustion Engine car brands and two Electric brands.</p>
<p><strong>ICE Car Brands</strong></p>
<p>1. BMW</p>
<p>2. Mercedes-Benz</p>
<p>3. VolksWagen</p>
<p></p>
<p><strong>Electric Car Brands</strong></p>
<p>1. Tesla</p>
<p>2. Rivian - first models to be released by end of 2020.</p>
