@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><b>Web-based Software Engineering</b></p>
<p>This course is an introduction to web-based software engineering environments</p>
<p>, design patterns, frameworks and key architectural aspects of robust enterprise applications.</p>
<p>Topics for software development technologies include development languages and frameworks </p>
<p>(e.g., .NET,  Java, open-source), various tools used during the development lifecycle, and </p>
<p>key components of an application in terms of the data, process and presentation layers.</p>