@model IEnumerable<CarModelLayer.CarModelClass>
@using GridMvc.Html

<h3>@ViewBag.Message</h3>

<div>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="panel panel-primary pre-scrollable">
            @Html.Grid(Model).Named("GetCarData").Columns(columns =>
            {
                columns.Add(col => col.Model).Titled("Model");
                columns.Add(col => col.Description).Titled("Description");
                columns.Add(col => col.Horsepower).Titled("Horsepower");
            }).WithPaging(4).Sortable()
        </div>
    }

</div>
