@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Harrisburg University of Science and Technology<br />
    Harrisburg, PA 17101 <br />
    <abbr title="Email">P:</abbr>
    717.901.5100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">akiyani@my.harrisburgu.edu</a><br />
</address>